.tracker-stats {

  color: white;
  background-color: $black;
  border-top: solid 1px darken($grey-800, 5);

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

  }

}

.tracker-stat {

  font-size: 2em;
  text-align: center;
      padding: .5em;


  strong {
    font-weight: normal;
    color: $white;
  }

}

.tracker-stat-primary {

  margin: 0;

  strong {
    display: block;
    font-size: .5em;
  }

}

.tracker-stat-secondary {

  font-size: .5em;
  margin: .8em 0 0;

  strong {
    font-size: .8em;
    margin-left: .4em;
  }

}

.tracker-last-updated {

  color: $white;
  background-color: $black;
  padding: .8em 0;

  p {
    color: $white;
    font-size: .8em;
    text-align: center;
    margin: 0;
  }

}
